.title {
  font-size: 22px;
  font-weight: 900;
  margin: 24px 0 12px;
  text-align: center;
}

.description {
  text-align: center;
}

.action {
  display: block;
  text-align: center;
  text-decoration: none;
}
